.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #152850;
  height: 100vh;
}

.Form-main-container {
  width: 70%;
  height: 80vh;
  border-radius: 30px;
  display: flex;
  align-items: center;
  background-color: #e0eefe;
}

.login-image-container {
  width: 60%;
  height: 100%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.login-form-image {
  width: 100%;
  height: 100%;
}

.form-container {
  width: 40%;
  background-color: #ffffff;
  height: 100%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
}

.login-form-heading {
  color: #183b56;
  font-family: 'Roboto';
  font-size: 45px;
  font-weight: 600;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 25px;
}

.label {
  color: #5a7184;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}

.input-box {
  border: 1px solid #c3cad9;
  border-radius: 10px;
  outline: none;
  height: 50px;
  padding-left: 15px;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
}

.login-button {
  background-color: #1565d8;
  height: 55px;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
}

.error-msg {
  color: #ff0b37;
  font-family: 'Roboto';
  font-size: 15px;
  text-align: center;
  margin-top: 5px;
}
@media all and (max-width: 768px) {
  .container {
    height: auto;
    padding: 20px 20px 50px 20px;
  }
  .Form-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
  }
  .login-image-container {
    width: 80%;
  }
  .login-form-image {
    width: 100%;
    margin: 15px 0px 15px 0px;
  }
  .form-container {
    width: 100%;
    padding-bottom: 20px;
  }
}
